@font-face
{
    font-family: "CheltenhamBold";
    src: url('../fonts/nyt_cheltenham_bold.otf');
}

@font-face
{
    font-family: "CheltenhamMedium";
    src: url('../fonts/nyt_cheltenham_medium.otf');
}

@font-face
{
    font-family: "ImperialBold";
    src: url('../fonts/nyt_imperial_bold.otf');
}

@font-face
{
    font-family: "ImperialRegular";
    src: url('../fonts/nyt_imperial_regular.otf');
}

@font-face
{
    font-family: "FranklinRegular";
    src: url('../fonts/nyt_franklin_medium.otf');
}

@font-face
{
    font-family: "FranklinSemibold";
    src: url('../fonts/nyt_franklin_semibold.otf');
}

@font-face
{
    font-family: "CheltenhamRegular";
    src: url('../fonts/nyt_cheltenhamsh_regular.otf');
}

/* Fonts as named in CSS dynamically loaded for in-content modules */
@font-face
{
    font-family: "nyt-cheltenham";
    src: url('../fonts/nyt_cheltenham_medium.otf');
}

@font-face
{
    font-family: "nyt-imperial";
    src: url('../fonts/nyt_imperial_regular.otf');
}

@font-face
{
    font-family: "nyt-franklin";
    src: url('../fonts/nyt_franklin_medium.otf');
}
/* END Fonts as named in CSS dynamically loaded for in-content modules */

body {
    color: #121212;
    font-family: "ImperialRegular", "Georgia", "Times New Roman", "Times", "serif";
    font-size: 1.125rem;
    line-height: 135%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin-left: 24px;
    margin-right: 24px;
}

h2 {
    font-family: "CheltenhamBold", Georgia, "Times New Roman", Times, serif;
    line-height: 125%;
    font-size: 1.75rem;
}

h3 {
    font-family: "CheltenhamMedium", Georgia, "Times New Roman", Times, serif;
    line-height: 125%;
    font-size: 1.5rem;
}

img {
    width: calc(100%);
    height: auto;
}

embed, iframe:not(.ad-container iframe) {
    max-width: 100%;
    margin: 24px auto;
}

strong {
    font-family: "ImperialBold", Georgia, "Times New Roman", Times, serif;
}

b {
    font-family: "ImperialBold", Georgia, "Times New Roman", Times, serif;
}

a {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    color: #386C92;
}

hr {
    display: block;
    border: 0px;
    height: 50px;
    background-image: url('https://s3-us-west-2.amazonaws.com/wp-media-theathletic-production/app/uploads/2017/11/15171831/LineBreak%403x-2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.wp-caption {
    font-family: 'ImperialRegular', Georgia, "Times New Roman", Times, serif !important;
    margin-top: 15px;
    padding-top: 15px;
}

.wp-video {
    margin-bottom: 24px;
    width: 100% !important;
    height: auto;
}

.wp-video:last-child {
    margin-bottom: 0px;
    width: 100% !important;
    height: auto;
}

.wp-video-shortcode {
    margin-left: -24px;
    width: calc(100% + 48px);
    height: auto;
}

.caption-icon {
    background: url("https://theathletic.com/app/themes/athletic/assets/img/icon-camera-gray.png") no-repeat;
    background-size: contain;
    width: 16px;
    height: 12px;
    overflow: visible;
    margin: 3px 6px 3px 0;
    display: inline-block;
    content: " ";
}

.getty {
    margin: 24px 0 48px 0;
}

.twitter-tweet {
    width: auto !important;
}

.inline-credits {
    width: calc(100%);
    margin-top: 5px;
    padding-top: 5px;
    text-align: left;
}

.credits-image {
    float: left;
    margin: 0px 6px 8px 0;
    display: none;
}

.credits-text {
    font-family: 'ImperialRegular', Georgia, "Times New Roman", Times, serif;
    line-height: 1.5em;
}

.inline-credits {
    font-family: 'ImperialRegular', Georgia, "Times New Roman", Times, serif;
    margin-top: 4px;
}

.caption {
    font-family: 'ImperialRegular', Georgia, "Times New Roman", Times, serif;
    font-style: italic;
}

.p1, .s1 {
    margin: 0!important;
}

a.go-deeper {
  text-decoration: none;
  color: inherit;
}

div.go-deeper {
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #f0f0ee;
  padding: 12px;
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

div.go-deeper-img {
  width: 64px;
  height: 64px;
  margin-right: 16px;
  flex: 0 0 64px;
}

img.go-deeper {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p.go-deeper-label {
  margin: 0;
  padding-bottom: 2px;
  color: #cb3939;
  font-family: FranklinSemibold, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.015em;
}

p.go-deeper-title {
  margin: 0;
  padding-top: 2px;
  color: #121212;
  font-family: "CheltenhamMedium", Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

span.c-emoji img {
    width: auto;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #F0F0EE;
    }

    div.go-deeper {
        background-color: transparent;
        border-radius: 8px;
        border: none;
        padding: 12px;
        display: flex;
        align-items: center;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .go-deeper p.go-deeper-title {
        color: #ffffff;
    }

    a {
        color: #94B4DA;
    }

    div.ad-wrapper {
        background-color: #323232;
        border-top: 1px solid #52524f;
        border-bottom: 1px solid #52524f;
    }
}

/* In Content Modules */

.in-content-module-book .in-content-module-img img {
  object-fit: contain; /* For mobile */
}

.in-content-module-book .in-content-module-contents .in-content-module-intro-copy.long {
  @media (max-width: 480) { /* smaller for mobile */
    display: none;
  }
}

.in-content-module-book .in-content-module-contents .in-content-module-intro-copy.short {
  @media (min-width: 481) { /* smaller for mobile */
    display: none;
  }
}

.in-content-module-book .in-content-module-contents .in-content-module-cta {
  display: flex;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  .native-mobile .in-content-module-book .in-content-module-contents .in-content-module-cta img {
    pointer-events: none; /* Added for mobile */
  }
}

/* End In Content Modules */